* {
    box-sizing: border-box;
    margin: 0;
}

form {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 590px) {
    form {
        flex-direction: column;
    }
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 20px;
}

th, td {
    width: auto;
    height: 50px; 
    border: 1px solid #000000;
}

th {
    background-color: #cbc9c9;
}